@media only screen and (max-width: 600px){
*{
   margin: 0px; 
   padding: 0px;
}
body{
    
    background-color: rgb(14, 6, 15);
    color: white;
    font-family: oswald;
    /* background-image: url(backgrounds/fundo-inicial1.jpg); */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
/* EDIÇÃO DE ICON E CARDS DE INFO */
.icon-information{
    background-color:tomato ;
    border-radius: 50%;
    width: 16px;
    padding: 1px;
    border: none;
       
}

.card-information, .card-information2, .card-information3, .card-information4, .card-information5, .card-information6, .card-information7, .card-information8, .card-information9, .card-information10, .card-information11, .card-information12, .card-information13, .card-information14{
    background-color: tomato;
    align-items: center;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    height: 90px;
    display: none;
    flex-direction: column;
    margin: auto;
    
    
}
.card-information{
    height: 157px;
}
.card-information2{
    height: 185px;
}
.card-information3{
    height: 159px;
}
.card-information14{
    height: 159px;
}
.card-information4{
    height: 280px;
}
.card-information5{
    height: 235px;
}
.card-information6{
    height: 65px;
}
.card-information7{
    height: 350px;
}
.card-information8{
    height: 255px;
}
.card-information9{
    height: 160px;
}
.card-information10{
    height: 260px;
}
.card-information11{
    height: 210px;
}
.card-information12{
    height: 230px;
}
.card-information13{
    height: 450px;
}


/* EDIÇÃO PARA VER VID BULGARO */
#videobulgaro-aberto{
    display: none;
}
#videobulgaro{
    background-color: transparent;
    border: none;
    color: white;
    font-family: oswald;
    margin-top: 10px;
}
#fechar-videobulgaro{
    width: 100%;
    display: none;
    justify-content: end;
    
}

/* EDIÇÃO PARA VER VID ABDUTORA */
#videoabdutora-aberto{
    display: none;
}
#videoabdutora{
    background-color: transparent;
    border: none;
    color: white;
    font-family: oswald;
    margin-top: 10px;
}
#fechar-videoabdutora{
    width: 100%;
    display: none;
    justify-content: end;
    
}
/* DEMAIS EDIÇOES */

#section-2{
    margin-top: 20px;
}
    section h2{
        color:  rgb( 198, 125, 255);
        font-size: 38px;
        letter-spacing: 10px;
        margin: 30px 0px 5px 0px;
        background-color: rgba(124, 43, 190, 0.445);
        padding-bottom: 0px;
        height: 60px;
        border-radius: 10px;
    
}
    #subtitulo{
        color: red;
        margin: 0px;
    }
    section h3{
        margin-top: 40px;
    }
    section p{
        margin:8px 0px 8px 0px;
    }
    
    section #b-red{
        background-color: rgba(255, 0, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
    section #b-titulo {
        color: red;
    }

    section #b-yellow{
        background-color: rgba(255, 255, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }

    section #b-grean{
        background-color: rgba(0, 128, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }

    #divgluteos{
        background-color: rgba(0, 204, 255, 0.450);
        width: 250px;
        padding-left: 3%;
        text-align: left;
    }
    #divforca{
        background-color: rgb(248, 130, 149);
        width: 250px;
        padding-left: 15%;
        text-align: left;
    }
    #divforca a{
        text-decoration: none;
        color: white;
    }
    #perna-foco{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

#focogluteos{
        background-color:rgba(0, 204, 255, 0.135) ;
}
#focoforca{
    background-color:rgb(248, 130, 149, 0.135) ;
}

#home{
    padding-top: 25px;
}
#home2{
    margin: 25px 0px 25px 0px;
}
}
*{
    margin: 0px; 
    padding: 0px;
 }
 body{
     
     background-color: rgb(14, 6, 15);
     color: white;
     font-family: oswald;
     /* background-image: url(backgrounds/fundo-inicial1.jpg); */
     text-align: center;
     background-repeat: no-repeat;
     background-size: 100%;
 
 }
 /* EDIÇÃO DE ICON E CARDS DE INFO */
 .icon-information{
     background-color:tomato ;
     border-radius: 50%;
     width: 16px;
     padding: 1px;
     border: none;
        
 }
 
 .card-information, .card-information2, .card-information3, .card-information4, .card-information5, .card-information6, .card-information7, .card-information8, .card-information9, .card-information10, .card-information11, .card-information12, .card-information13, .card-information14{
     background-color: tomato;
     align-items: center;
     padding: 5px;
     width: 300px;
     border-radius: 10px;
     height: 90px;
     display: none;
     flex-direction: column;
     margin: auto;
     
     
 }
 .card-information{
     height: 157px;
 }
 .card-information2{
     height: 185px;
 }
 .card-information3{
     height: 159px;
 }
 .card-information14{
     height: 159px;
 }
 .card-information4{
     height: 280px;
 }
 .card-information5{
     height: 235px;
 }
 .card-information6{
     height: 65px;
 }
 .card-information7{
     height: 350px;
 }
 .card-information8{
     height: 255px;
 }
 .card-information9{
     height: 160px;
 }
 .card-information10{
     height: 260px;
 }
 .card-information11{
     height: 210px;
 }
 .card-information12{
     height: 230px;
 }
 .card-information13{
     height: 450px;
 }
 
 
 /* EDIÇÃO PARA VER VID BULGARO */
 #videobulgaro-aberto{
     display: none;
 }
 #videobulgaro{
     background-color: transparent;
     border: none;
     color: white;
     font-family: oswald;
     margin-top: 10px;
 }
 #fechar-videobulgaro{
     width: 100%;
     display: none;
     justify-content: end;
     
 }
 
 /* EDIÇÃO PARA VER VID ABDUTORA */
 #videoabdutora-aberto{
     display: none;
 }
 #videoabdutora{
     background-color: transparent;
     border: none;
     color: white;
     font-family: oswald;
     margin-top: 10px;
 }
 #fechar-videoabdutora{
     width: 100%;
     display: none;
     justify-content: end;
     
 }
 /* DEMAIS EDIÇOES */
 
 #section-2{
     margin-top: 20px;
 }
     section h2{
         color:  rgb( 198, 125, 255);
         font-size: 38px;
         letter-spacing: 10px;
         margin: 30px 0px 5px 0px;
         background-color: rgba(124, 43, 190, 0.445);
         padding-bottom: 0px;
         height: 60px;
         border-radius: 10px;
     
 }
     #subtitulo{
         color: red;
         margin: 0px;
     }
     section h3{
         margin-top: 40px;
     }
     section p{
         margin:8px 0px 8px 0px;
     }
     
     section #b-red{
         background-color: rgba(255, 0, 0, 0.541);
         padding: 0px 5px 2px 5px;
         border-radius: 7px;
     }
     section #b-titulo {
         color: red;
     }
 
     section #b-yellow{
         background-color: rgba(255, 255, 0, 0.541);
         padding: 0px 5px 2px 5px;
         border-radius: 7px;
     }
 
     section #b-grean{
         background-color: rgba(0, 128, 0, 0.541);
         padding: 0px 5px 2px 5px;
         border-radius: 7px;
     }
 
     #divgluteos{
         background-color: rgba(0, 204, 255, 0.450);
         width: 250px;
         padding-left: 3%;
         text-align: left;
     }
     #divforca{
         background-color: rgb(248, 130, 149);
         width: 250px;
         padding-left: 15%;
         text-align: left;
     }
     #divforca a{
         text-decoration: none;
         color: white;
     }
     #perna-foco{
         display: flex;
         flex-direction: column;
         font-size: 12px;
     }
 
 #focogluteos{
         background-color:rgba(0, 204, 255, 0.135) ;
 }
 #focoforca{
     background-color:rgb(248, 130, 149, 0.135) ;
 }
 
 #home{
     padding-top: 25px;
 }
 #home2{
     margin: 25px 0px 25px 0px;
 }