body{
    margin: 0px;
    background-color: rgb(14, 6, 15);
    color: white;
    font-family: oswald;
    /* background-image: url(backgrounds/fundo-inicial1.jpg); */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

/* STYLES DOS CARDS DE INFO */
.icon-information{
    background-color:tomato ;
    border-radius: 50%;
    width: 16px;
    padding: 1px;
    border: none;  
}
.card-information, .card-information2, .card-information3, .card-information4, .card-information5, .card-information6, .card-information7, .card-information8, .card-information9, .card-information10, .card-information11, .card-information12, .card-information13{
    background-color: tomato;
    align-items: center;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    height: 90px;
    display: none;
    flex-direction: column;
    margin: auto;
    
    
}
.card-information{
    height: 110px;
}
#info-card{
        width: 100%;
 }
 .card-information2{
    height: 137px;
}
#info-card2{
        width: 100%;
 }
 .card-information3{
    height: 157px;
}
#info-card3{
        width: 100%;
 }
 .card-information4{
    height: 157px;
}
#info-card4{
        width: 100%;
 }
 .card-information5{
    height: 110px;
}
#info-card5{
        width: 100%;
 }
 .card-information6{
    height: 110px;
}
#info-card6{
        width: 100%;
 }
 .card-information7{
    height: 110px;
}
#info-card7{
        width: 100%;
 }
 .card-information8{
    height: 155px;
}
#info-card8{
        width: 100%;
 }





/* MUDANDO GIFS ROSCA SCOTT */
#rosca-scott{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#setascottD{
    display: none;
}
#rosca-scott1{
    display: none;

}

/* MUDANDO GIFS ROSCA MARTELO */
#setaDmartelo{
    display: none;   
}
#martelo{
    display:none
}
#div-rosca-martelo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DEMAIS ESTILOS SECTIONS... */

section h2{
    color:  rgb( 198, 125, 255);
    font-size: 38px;
    letter-spacing: 10px;
    margin: 30px 0px 5px 0px;
    background-color: rgba(124, 43, 190, 0.445);
    padding-bottom: 0px;
    height: 60px;
    border-radius: 10px;
    
}
#section-triceps{
    margin-top: 20px;
}
    #subtitulo{
        color: red;
        margin: 0px;
    }
    section h3{
        margin-bottom: 0px;
    }
    section p{
        margin:8px 0px 8px 0px;
    }
    
    section #b-red{
        background-color: rgba(255, 0, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
    section #b-titulo {
        color: red;
    }

    section #b-yellow{
        background-color: rgba(255, 255, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }

    section #b-grean{
        background-color: rgba(0, 128, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }


#home{
    padding-top: 25px;
}
#home2{
    margin: 25px 0px 25px 0px;
}   