body{
    margin: 0px;
    background-color: rgb(14, 6, 15);
    color: white;
    font-family: oswald;
    background-image: url(backgrounds/fundo-inicial1.jpg);
    
    background-repeat: no-repeat;
    background-size: 100%;

}

header{
    
    font-size: 15px;
    text-align: center;
    color: rgb( 198, 125, 255);
    margin: 0px;
    padding-bottom: 20px;
    height: 120px;
}
#carrossel{
    text-align: center;
       
}
#carrossel #plano2{
    display: none;
}
#carrossel #plano3{
    display: none;
    
}
.seta{
    cursor: pointer;
    display:inline;
}
#seta-direita2{
    display: none;
}
#seta-esquerda2{
    display: inline;
}
#seta-esquerda{
    display: none;
}

#carrossel .card{
    width: 100% ;
    font-size: 10px;
    display: block;
    text-align: center;
    background-color: rgba(124, 43, 190, 0.445) ;
    
    border-radius: 10px;
    padding-bottom: 23px;
    margin-bottom: 10px;

}
    #titulo-carrossel{
        font-size: 25px;
        text-align: center;
    }

    #carrossel h1{
        margin: 5px 0px 10px 0px;

    }
    #carrossel img{
        border-radius: 20px;
        
    }
    .img1{
        display: flex;
        justify-content: space-around;
    }

#plano2{
    background-color: black;
    
}

