*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    background-color:rgb(14, 6, 15);
    color: white;
    font-family: oswald;
    /* background-image: url(backgrounds/fundo-inicial1.jpg); */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.icon-information{
    background-color:tomato ;
    border-radius: 50%;
    width: 16px;
    padding: 1px;
    border: none;
}
.card-information, .card-information2, .card-information3, .card-information4, .card-information5, .card-information6, .card-information7, .card-information8, .card-information9, .card-information10, .card-information11, .card-information12, .card-information14,.card-information15, .card-information16, .card-information17, .card-information18, .card-information19, .card-information20, .card-information21, .card-information22, .card-information23, .card-information24, .card-information25, .card-information26, .card-information27, .card-information28, .card-information29, .card-information30, .card-information31{
    background-color: tomato;
    align-items: center;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    height: 90px;
    display: none;
    flex-direction: column;
    margin: auto; 
}
.card-information{
    height: 330px;
}
.card-information2{
    height: 210px;
}
.card-information3{
    height: 280px;
}
.card-information4{
    height: 280px;
}
.card-information5{
    height: 185px;
}
.card-information6{
    height: 330px;
}
.card-information7{
    height: 185px;
}
.card-information8{
    height: 280px;
}
.card-information9{
    height: 235px;
}
section h2{
    color:  rgb( 198, 125, 255);
    font-size: 38px;
    letter-spacing: 10px;
    margin: 40px 0px 5px 0px;
    background-color: rgba(124, 43, 190, 0.445);
    padding-bottom: 0px;
    height: 60px;
    border-radius: 10px;
    
}
#section-2{
    margin-top: 20px;
}
    #subtitulo{
        color: red;
        margin: 0px;
    }
    section h3{
        margin-top: 40px;
    }
    section p{
        margin:8px 0px 8px 0px;
    }
    
    section #b-red{
        background-color: rgba(255, 0, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
    section #b-titulo {
        color: red;
    }
    section #b-yellow{
        background-color: rgba(255, 255, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
#home{
    padding-top: 25px;
}
#home2{
    margin: 25px 0px 25px 0px;
}
body a h4{
    font-size: 9px;
    margin-top: 5px;
    
 }

/* ADD MEDIA QUERY (SEM NECESSIDADE !) */
@media only screen and (max-width: 600px){
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    background-color: rgb(14, 6, 15);
    color: white;
    font-family: oswald;
    /* background-image: url(backgrounds/fundo-inicial1.jpg); */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.icon-information{
    background-color:tomato ;
    border-radius: 50%;
    width: 16px;
    padding: 1px;
    border: none;  
}
.card-information, .card-information2, .card-information3, .card-information4, .card-information5, .card-information6, .card-information7, .card-information8, .card-information9, .card-information10, .card-information11, .card-information12, .card-information13{
    background-color: tomato;
    align-items: center;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    height: 90px;
    display: none;
    flex-direction: column;
    margin: auto;   
}
.card-information{
    height: 330px;
}
.card-information2{
    height: 210px;
}
.card-information3{
    height: 280px;
}
.card-information4{
    height: 280px;
}
.card-information5{
    height: 185px;
}
.card-information6{
    height: 330px;
}
.card-information7{
    height: 185px;
}
.card-information8{
    height: 280px;
}
.card-information9{
    height: 235px;
}

section h2{
    color:  rgb( 198, 125, 255);
    font-size: 38px;
    letter-spacing: 10px;
    margin: 40px 0px 5px 0px;
    background-color: rgba(124, 43, 190, 0.445);
    padding-bottom: 0px;
    height: 60px;
    border-radius: 10px;
    
}
#section-2{
    margin-top: 20px;
}
    #subtitulo{
        color: red;
        margin: 0px;
    }
    section h3{
        margin-top: 40px;
    }
    section p{
        margin:8px 0px 8px 0px;
    }
    
    section #b-red{
        background-color: rgba(255, 0, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
    section #b-titulo {
        color: red;
    }
    section #b-yellow{
        background-color: rgba(255, 255, 0, 0.541);
        padding: 0px 5px 2px 5px;
        border-radius: 7px;
    }
#home{
    padding-top: 25px;
}
#home2{
    margin: 25px 0px 25px 0px;
}
body a h4{
    font-size: 9px;
    margin-top: 5px;
    
 }
}